{% extends template %}

{% block content %}
<script>
    document.getElementById('userProfileBTN').classList.add('active')
</script>
<div id="content" style="padding:1%;">
    <!--CONTENT-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
    <h1 style="color:#2c3e50;font-weight: bold;">CHANGE PASSWORD</h1>

          <div style="margin-left: 1%;margin-right: 1%;">
            <form method = "POST" action = "">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group" style="margin-top: 1%; color:#2c3e50">
                <label for="{{field.label}}">{{field.label}}</label>
                {{field}}
              </div>
              <div class="text-danger">
                {{field.errors}}
              </div>
              {% endfor %}
      
              <button type="submit" class="btn btn-success" style="float: right; margin-top: 2%;">Change Password</button>
              
            </form>
            <a href="{% url 'profile' %}"><button class="btn" style="background-color:#2c3e50;color:white;float:left; margin-top: 2%;margin-right: 1%;">Back</button></a>

          </div>
          {% if messages %}
            {% for message in messages %}
                {% if 'changePass' in message.tags %}
                    <script>
                      Swal.fire('{{message}}').then(result => {
                        if (result.isConfirmed) {
                          location.href = '/profile/{{user.id}}/'
                        }
                      })
                      
                    </script>
                    
                {% endif %}
            {% endfor %}
          {% endif %}
</div>
          

{% endblock content %}